/*****importation du font****/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

:root{
   font-size: 14px;
   --primary: #0065FC;
   --secondary: #DEEBFF ;
   --fond: #F2F2F2;
}
/*****nav bar****/
body{
   font-family: Raleway, sans-serif;
   
}
.info .search{
   background-color:#0065FC; 
   border: none;
   border-radius: 15px;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;  
}
.info button {
   background-color: white; 
   border: 2px solid grey;
   border-radius: 19px;
   color: black;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 12px;
   padding: 0;
   
}
.btn {
    padding-left: 5px;
    padding-right: 5px;
}
i {
    font-size: 10px; 
    color:#0065FC;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: cornflowerblue;
    border-radius: 19px;
    text-align: center;
}
header {
  
   text-align: right;
 
   grid-area: nav;
}
nav ul li {
  
   
   list-style-type: none;
   display: inline-block;
   text-decoration: none;
   color: #0065FC;
   font-weight: bold;
   padding: 10px;
}
a {
   text-decoration: none;
   color: #0065FC;


}
nav ul li:hover {
   border-top: 1px solid #0065FC;
  transition-delay: .5s;
  transition-timing-function: ease-in-out;
}

.hebergement {
   padding: 30px;
   justify-content: center;
   grid-area: Heb;
   background-color:#F2F2F2;
   border-radius: 10px;
   margin : 10px
}
.card1 img {
  
   border-radius: 20px;
  
}
.populaires {
   grid-area: pop;
   background-color: #F2F2F2;
   border-radius: 5px;
   margin: 10px;
   text-align: center;
}
.activites {
   grid-area: act;
   padding: 20px;
  
   border-radius: 5px;
   margin: 10px;
}
.card1 { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   max-width: 250px;
   text-align: center;
   background-color: white;
   

}
.activites img {
   border-radius: 3px;
   width: 300px;
}
/*****footer****/
footer {
   grid-area: footer;
 border-radius: 10px;
   display: flex;
   justify-content: space-around;
   background-color: #F2F2F2;
   margin: 10px;

}
footer ul li {
   list-style-type: none;
  
}

